# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
.env/

# IDE/editor files
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
*.tmp

# Allow Python scripts, notebooks, README, and gitignore
!*.py
!*.ipynb
!README.md
!.gitignore
