# Django project and environment
Django>=5.2,<6
python-dotenv>=1.0.0
openai>=1.0.0
reportlab>=3.6.13
ffmpeg-python>=0.2.0

# PyTorch CPU version
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
-f https://download.pytorch.org/whl/cpu/torch_stable.html

# Whisper
git+https://github.com/openai/whisper.git

# Compatible NumPy
numpy==1.25.2
